body {
	font-family: 'Comic Sans MS', cursive;
	background: radial-gradient(ellipse at center, #3c6382 0%, #0a3d62 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
}
footer {
	position: absolute;
	bottom: 0%;
	color: #151c30;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
	display: flex;
	align-items: center;
}
img {
	height: 15px;
}
h1 {
	margin: 40px;
	margin-top: 30px;
	color: #f8c291;
	text-shadow: 0 0 5px #82ccddcb;
	font-size: 50px;
	letter-spacing: 0.1em;
}
button {
	margin-bottom: 20px;
	height: 25px;
	width: 80px;
	border: 0;
	border-radius: 5%;
	background: #079992;
	color: #fad390;
	transition-duration: 0.3s;
}

button:hover {
	background: #fad390;
	color: #079992c7;
}
input {
	height: 20px;
	width: 20px;
	background: none;
	border: none;
	text-align: center;
	font-size: 15px;
}
.container {
	margin-top: 50px;
	height: 315px;
	width: 315px;
	border: 1px solid #0c2461;
	background: #f1e5cef1;
	display: flex;
	flex-direction: column;
	transform: scale(1.3);
	box-shadow: 0 0 5px #f8c291;
}

.line {
	height: 35px;
	width: 100%;
	display: flex;
}

.line div {
	border: 0.01em solid #82ccddd3;
	width: 35px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #295729;
}

.line:nth-child(3) div,
.line:nth-child(6) div {
	border-bottom-color: #0c2461;
}

.line div:nth-child(3),
.line div:nth-child(6) {
	border-right-color: #0c2461c5;
}

button::before {
	content: "Sudoku puzzles require you to find the missing numbers in a 9 by 9 grid, with that grid itself divided into 9 square grids of 3 by 3.  \A You can't just add any numbers, though. There are rules that making solving the puzzle challenging.";
	color: rgba(255, 255, 255, 0.719);
	position: absolute;
	display: block;
	/* white-space: pre; */
	width: 220px;
	height: 100px;
	top: 35%;
	left: 12%;
	text-align: left;
	overflow-wrap: break-word;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
	line-height: 2;
}
button::after {
	content: 'A number can only occur once in a row, column, or square. To solve a Sudoku, look for open spaces where its row, column and square alreay have enough other numbers filled in to tell you the correct value. The more squares you fill in, the easier the puzzle is to finish.';
	color: rgba(255, 255, 255, 0.719);
	position: absolute;
	display: block;
	width: 220px;
	height: 100px;
	top: 33%;
	right: 10%;
	text-align: left;
	overflow-wrap: break-word;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
	line-height: 2;
}
